.articleCreatePageWrapper,
.editArticlePage {
  padding-bottom: 38px;
}

.articleCreatePageWrapper .articleFormWrapper {
  max-width: 830px;
}

.editArticlePage .leftColumn {
  flex: 60%;
}

.editArticlePage .rightColumn {
  flex: 40%;
}

.editArticlePage {
  display: flex;
  align-items: start;
  gap: 21px;
}
