@use "src/assets/css/breakpoints.scss";

.articlePageWrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: flex-start;
  gap: 40px 20px;
}

.articleCreatePageWrapper,
.editArticlePage {
  padding-bottom: 38px;
}

.articleCreatePageWrapper .articleFormWrapper {
  max-width: 830px;
}

.editArticlePage .leftColumn {
  flex: 60%;
}

.editArticlePage .rightColumn {
  flex: 40%;
}

.editArticlePage {
  display: flex;
  gap: 21px;
}

.commentCount {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.commentList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 0 0;
  list-style: none;
}

.commentsBlockWrapper {
  position: relative;
}

.anchor {
  top: -105px;
}

.header {
  margin-bottom: 21px;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  line-height: 30px;
}

.articleCreatePageWrapper .showPrompt {
  display: none;
  padding: 0 0 24px 6px;
  color: var(--light-green);
}

@media only screen and (max-width: breakpoints.$medium) {
  .editArticlePage {
    flex-direction: column;
  }
}

@media only screen and (max-width: breakpoints.$extra-large) {
  .articleCreatePageWrapper .articleFormWrapper {
    max-width: none;
  }

  .articlePageWrapper {
    display: flex;
    flex-direction: column;
  }

  .commentsBlockWrapper {
    width: 100%;
  }

  .promptGenerationModal {
    top: 25px;
    width: 100%;
    border: 1px solid var(--dark-gray-40);
    border-radius: 15px;
  }

  .promptGenerationContainer {
    display: block;
    padding: 10px;
  }

  .articleCreatePageWrapper .showPrompt {
    display: block;
  }
}

@media print {
  .commentsBlockWrapper {
    display: none;
  }
}
