@use "src/assets/css/breakpoints.scss";

.articlePageWrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: flex-start;
  gap: 40px 20px;
}

.articleCreatePageWrapper,
.editArticlePage {
  padding-bottom: 38px;
}

.articleCreatePageWrapper .articleFormWrapper {
  max-width: 830px;
}

.editArticlePage .leftColumn {
  flex: 60%;
}

.editArticlePage .rightColumn {
  flex: 40%;
}

.editArticlePage {
  display: flex;
  gap: 21px;
}

.commentCount {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.commentList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 0 0;
  list-style: none;
}

.commentsBlockWrapper {
  position: relative;
}

.anchor {
  top: -105px;
}

.header {
  margin-bottom: 21px;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  line-height: 30px;
}

.articleCreatePageWrapper .popover .showPrompt {
  display: none;
  padding: 0 0 24px 6px;
  color: var(--light-green);
}

.articleCreatePageWrapper .popover .showPrompt:hover {
  color: var(--dark-green);
}

.reactionButtonsWrapper {
  position: fixed;
  right: 335px;
  bottom: 30px;
  display: flex;
  gap: 20px;
  max-width: 125px;
  padding: 10px 20px;
  background: var(--light-gray);
  border: 1px solid var(--light-gray-border);
  border-radius: 20px;
}

.reactionIcon {
  width: 20px;
  height: 20px;
}

.reactionButton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--dark-gray-50);
  font-size: 14px;
  font-family: Lato, sans-serif;
  background-color: transparent;
}

.disabled {
  cursor: default;
}

.disabled svg {
  color: var(--light-green);
}

.pressed svg,
.reactionButton:hover svg {
  color: var(--light-green);
}

.popover {
  max-width: max-content;
}

@media only screen and (max-width: breakpoints.$medium) {
  .editArticlePage {
    flex-direction: column;
  }

  .promptGenerationModal {
    width: 320px;
  }
}

@media only screen and (min-width: breakpoints.$medium) and (max-width: breakpoints.$extra-large) {
  .promptGenerationModal {
    width: 520px;
  }
}

@media only screen and (max-width: breakpoints.$extra-large) {
  .articleCreatePageWrapper .articleFormWrapper {
    max-width: none;
  }

  .articlePageWrapper {
    display: flex;
    flex-direction: column;
  }

  .commentsBlockWrapper {
    width: 100%;
  }

  .promptGenerationModal {
    top: 25px;
    left: 0;
    border: 1px solid var(--dark-gray-40);
    border-radius: 15px;
  }

  .promptGenerationContainer {
    display: block;
    padding: 10px;
  }

  .articleCreatePageWrapper .popover .showPrompt {
    display: block;
  }

  .reactionButtonsWrapper {
    display: none;
  }
}

@media print {
  .articlePageWrapper {
    display: block;
  }

  .commentsBlockWrapper {
    display: none;
  }

  .reactionButtonsWrapper {
    display: none;
  }
}
