@use "src/assets/css/breakpoints.scss";

.wrapper {
  width: 100%;
}

.tabsWrapper {
  position: relative;
  display: flex;
}

.tab {
  padding: 0 15px 10px;
  font-weight: 700;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  background: none;
  border: none;
}

.tab:link,
.tab:visited {
  color: var(--dark-gray);
}

.tab:hover,
.tab:active {
  color: var(--light-green);
}

.activeTab.tab:link,
.activeTab.tab:visited {
  position: relative;
  color: var(--light-green);
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--light-green);
}

.articlesWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
  border-top: 1px solid var(--gray);
}

.filterButtonWrapper {
  position: sticky;
  top: calc(var(--header-height) + 15px);
  max-height: 400px;
  padding-block-start: 15px;
  background: var(--light-gray);
}

.filterPopoverWrapper {
  width: 340px;
}

.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--light-green);
  background: transparent;
}

.modalContent {
  width: max-content;
  padding: 30px;
  text-align: unset;
  background: var(--light-gray);
}

@media only screen and (max-width: breakpoints.$large) {
  .articlesWrapper {
    grid-template-columns: 1fr 30px;
    gap: 10px;
    width: 100%;
  }
}
