@use "src/assets/css/breakpoints.scss";

.body {
  width: 100%;
  padding: 15px 33px 62px;
  background: var(--white);
  border-radius: 10px;
}

.body:not(.hasCover) {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.coverWrapper {
  position: relative;
  margin: 0 -18px 15px;
}

.cover {
  width: 100%;
  height: 100%;
  max-height: 337px;
  object-fit: cover;
  border-radius: 10px;
}

.buttonsWrapper {
  position: absolute;
  top: 10px;
  left: 13px;
  display: flex;
  gap: 15px;
}

.body:not(.hasCover) .buttonsWrapper {
  position: static;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--light-green);
  background-color: var(--white-90);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.iconButton:hover {
  color: var(--dark-green);
}

.icon {
  width: 20px;
  height: 20px;
}

.body.hasCover .icon {
  width: 15px;
  height: 15px;
}

.popover {
  max-width: max-content;
}

.body.hasCover .sharePopover {
  left: 0;
}

.authorName {
  display: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.infoIcon {
  transform: translateY(-3px);
}

.authorName:hover {
  color: var(--light-green);
}

.textWrapper {
  flex-grow: 1;
}

.body:not(.hasCover) .textWrapper {
  padding-top: 25px;
}

.title {
  margin-bottom: 10px;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  line-height: normal;
}

.text {
  width: 100%;
  margin: 28px auto 0;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  word-break: break-word;
}

.text p:not(:last-child) {
  margin-block-end: 10px;
}

.reactionButtonsWrapper {
  position: absolute;
  display: none;
  gap: 20px;
}

.reactionButton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--dark-gray-50);
  font-family: Lato, sans-serif;
  background-color: transparent;
}

.disabled {
  cursor: default;
}

.disabled svg {
  color: var(--light-green);
}

.pressed svg,
.reactionButton:hover svg {
  color: var(--light-green);
}

.onlyForPrint {
  display: none;
}

@media only screen and (max-width: breakpoints.$medium) {
  .buttonsWrapper {
    gap: 10px;
  }

  .iconButton {
    width: 25px;
    height: 25px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    margin-top: 10px;
    font-size: 16px;
  }

  .authorDetails.authorDetailsModal {
    left: 15px;
    width: 235px;
  }

  .reactionButtonsWrapper {
    margin-top: 15px;
  }

  .reactionIcon {
    width: 15px;
    height: 15px;
  }

  .reactionButton {
    font-size: 12px;
  }
}

@media only screen and (min-width: breakpoints.$medium) and (max-width: breakpoints.$large) {
  .authorName {
    font-size: 18px;
  }

  .infoIcon {
    width: 17px;
    height: 17px;
    transform: translateY(-5px);
  }

  .title {
    font-size: 30px;
  }

  .text {
    margin-top: 18px;
  }

  .authorDetails.authorDetailsModal {
    left: 15px;
    width: 293px;
  }

  .reactionButtonsWrapper {
    margin-top: 10px;
  }

  .reactionIcon {
    width: 20px;
    height: 20px;
  }

  .reactionButton {
    width: 37px;
    height: 37px;
    font-size: 14px;
  }
}

@media only screen and (max-width: breakpoints.$large) {
  .body:not(.hasCover) .textWrapper {
    padding-top: 18px;
  }

  .title {
    margin-bottom: 5px;
  }

  .popover {
    margin-bottom: 15px;
    padding: 5px 0;
  }

  .authorName {
    display: block;
  }

  .articleDetailsContainer {
    display: block;
    background: var(--light-gray);
    border: 1px solid var(--light-gray-border);
    border-radius: 10px;
  }

  .authorDetails.authorDetailsModal {
    display: flex;
    background-color: var(--light-gray-15);
  }

  .reactionButtonsWrapper {
    display: flex;
  }
}

@media print {
  .buttonsWrapper {
    display: none;
  }

  .onlyForPrint {
    display: block;
    padding: 16px 0;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    line-height: normal;
  }
}

@media only screen and (max-width: breakpoints.$extra-small) {
  .buttonsWrapper {
    top: 6px;
    left: 6px;
    gap: 6px;
  }

  .iconButton {
    width: 20px;
    height: 20px;
  }
}
