@use "src/assets/css/breakpoints.scss";

.body {
  width: 100%;
  background: var(--white);
  border-radius: 10px;
}

.coverWrapper {
  position: relative;
  padding: 16px 15px 0 14px;
}

.buttonsWrapper {
  position: absolute;
  top: 5%;
  left: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 90%;
}

.textWrapper {
  flex-grow: 1;
  padding: 18px 33px 62px;
}

.body:not(.hasCover) {
  display: flex;
  flex-direction: row-reverse;
}

.body:not(.hasCover) .textWrapper {
  padding-top: 40px;
}

.body:not(.hasCover) .buttonsWrapper {
  position: static;
  justify-content: flex-start;
}

.cover {
  width: 100%;
  height: 100%;
  max-height: 337px;
  object-fit: cover;
  border-radius: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.body.hasCover .icon {
  width: 15px;
  height: 15px;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--light-green);
  background-color: var(--white-90);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.iconButton:hover {
  background-color: var(--light-gray);
}

.facebookIconButton {
  padding: 5px;
}

.body:not(.hasCover) .facebookIconButton {
  padding: 0;
}

.title {
  margin-bottom: 10px;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  line-height: normal;
}

.text {
  max-width: 586px;
  margin: 28px auto 0;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  word-break: break-word;
}

.presentationAuthorName {
  display: none;
  padding: 10px 33px 0;
  font-size: 16px;
}

@media only screen and (max-width: breakpoints.$medium) {
  .title {
    font-size: 20px;
  }

  .text {
    margin-top: 10px;
    font-size: 16px;
  }

  .authorDetails .authorDetailsModal {
    position: absolute;
    top: 243px;
    left: 63px;
    display: block;
  }

  .authorWrapper {
    row-gap: 10px;
    padding: 8px;
    column-gap: 8px;
  }

  .authorName {
    font-size: 14px;
  }

  .authorInfo {
    font-size: 12px;
  }

  .authorInfoValue {
    margin-right: 2px;
    margin-left: 8px;
  }

  .authorInfo:last-child::before {
    margin-left: 8px;
    padding-right: 4px;
  }

  .articleInfoWrapper {
    padding: 0 8px 8px;
  }

  .articleInfoListWrapper {
    margin-bottom: 8px;
    column-gap: 8px;
  }

  .articleInfoListWrapper > svg {
    width: 15px;
    height: 15px;
  }

  .articleInfoListWrapper + svg {
    width: 15px;
    height: 15px;
  }

  .articleInfoList {
    font-size: 12px;
    column-gap: 8px;
  }

  .articleInfoItem::before {
    margin-right: 4px;
  }

  .articleGenre {
    margin-left: 8px;
    font-size: 12px;
  }
}

@media only screen and (min-width: breakpoints.$medium) and (max-width: breakpoints.$extra-large) {
  .presentationAuthorName {
    font-size: 18px;
  }

  .title {
    font-size: 30px;
  }

  .text {
    margin-top: 18px;
  }

  .authorDetails .authorDetailsModal {
    position: absolute;
    top: 243px;
    left: 90px;
    display: block;
  }

  .authorWrapper {
    row-gap: 15px;
    padding: 15px 15px 10px;
    column-gap: 10px;
  }

  .authorName {
    font-size: 20px;
  }

  .authorInfo {
    font-size: inherit;
  }

  .authorInfoValue {
    margin-right: 4px;
    margin-left: 10px;
  }

  .authorInfo:last-child::before {
    margin-left: 10px;
    padding-right: 8px;
  }

  .articleInfoWrapper {
    padding: 0 15px 15px;
  }

  .articleInfoListWrapper {
    margin-bottom: 10px;
    column-gap: 10px;
  }

  .articleInfoList {
    column-gap: 10px;
  }

  .articleInfoItem::before {
    margin-right: 8px;
  }

  .articleGenre {
    margin-left: 10px;
    font-size: 14px;
  }
}

@media only screen and (max-width: breakpoints.$extra-large) {
  .buttonsWrapper {
    position: absolute;
    bottom: 5%;
    left: 28px;
    flex-direction: row;
    gap: 0;
  }

  .body:not(.hasCover) {
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 5px;
  }

  .presentationAuthorName {
    display: block;
  }

  .container {
    position: absolute;
    display: block;
    background: var(--light-gray);
    border: 1px solid var(--light-gray-border);
    border-radius: 10px;
  }

  .authorWrapper {
    display: grid;
    grid-template: repeat(2, max-content) / max-content 1fr;
    grid-template-areas:
      "avatar authorName"
      "authorInfo authorInfo";
    align-items: center;
  }

  .avatarWrapper {
    display: flex;
    grid-area: avatar;
  }

  .authorName {
    grid-area: authorName;
    color: var(--dark-gray);
    font-weight: 700;
    font-family: Raleway, sans-serif;
    font-style: normal;
    line-height: normal;
    text-align: left;
  }

  .authorInfoWrapper {
    display: flex;
    grid-area: authorInfo;
    align-items: center;
    list-style: none;
  }

  .authorInfo {
    display: flex;
    align-items: center;
    color: var(--dark-gray-40);
    line-height: normal;
  }

  .authorInfo:last-child::before {
    content: "●";
    color: var(--light-green);
  }

  .articleInfoWrapper {
    text-align: initial;
  }

  .articleInfoListWrapper {
    display: flex;
    align-items: flex-end;
  }

  .articleInfoList {
    display: flex;
    color: var(--dark-gray-40);
    line-height: normal;
    list-style: none;
  }

  .articleReadTimeValue {
    padding-right: 4px;
  }

  .articleInfoItem::before {
    content: "●";
    color: var(--light-green);
  }

  .articleGenre {
    color: var(--dark-gray-40);
    line-height: normal;
  }

  .authorDetails.authorDetailsModal {
    background-color: var(--light-gray-15);
  }

  .authorDetails .authorDetailsModal.open {
    animation: fade 0.3s ease-in-out;
  }

  .authorDetails .authorDetailsModal {
    padding: 0;
    box-shadow: 0 4px 8px -2px var(--translucent-dark-blue-gray);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
