.emptyArticlesPlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 20px;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.emptyArticlesIcon {
  width: 250px;
  height: 150px;
  color: var(--light-green);
}
