.profile {
  display: grid;
  grid-template:
    "info activity activity" 1.4fr "info articles genres" 0.3fr "achievements articles genres" 1.3fr / minmax(
      270px,
      0.5fr
    )
    1.3fr 1.2fr;
  gap: 60px;
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.profileBlock {
  background-color: var(--white);
  border-radius: 7px;
  box-shadow: 0 0 6px var(--translucent-dark-blue-gray);
}
