.profile {
  width: 1591px;
  margin: 0 auto;
}

.userInfoBlock {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.avatar {
  position: relative;
  display: block;
  width: 270px;
  height: 269px;
  overflow: hidden;
  border-radius: 50%;
}

.userInfo {
  margin: 20px 0;
  font-size: 32px;
  line-height: 38px;
}

.userInfo > * {
  margin: 10px;
}

.editProfileBtn {
  width: 100%;
  height: 45px;
  color: var(--white);
  background-color: var(--dark-green);
  border: none;
}
