.wrapper {
  display: flex;
  grid-area: articles;
  flex-direction: column;
}

.articleList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-height: 364px;
  overflow: auto;
  list-style: none;
}

.article {
  height: 116px;
  background: var(--white);
  border: 2px solid var(--pale-gray);
  border-radius: 10px;
}

.listTitle {
  margin-bottom: 10px;
}

.showAll {
  align-self: flex-end;
  padding: 12px 14px;
  color: var(--light-green);
  font-size: 16px;
  transition: color 0.3s ease-in;
}

.showAll:hover {
  color: var(--light-green-80);
}
