@use "src/assets/css/breakpoints.scss";

.latestArticlesContainer {
  display: flex;
  grid-area: articles;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.articleList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-height: 415px;
  padding-top: 2px;
  overflow: auto;
  list-style: none;
}

.article {
  height: 133px;
  background: var(--white);
  border: 2px solid var(--pale-gray);
  border-radius: 7px;
}

.listTitle {
  margin-bottom: 6px;
}

.showAll {
  align-self: flex-end;
  padding: 12px 14px;
  color: var(--light-green);
  font-weight: 700;
  font-size: 16px;
  transition: color 0.3s ease-in;
}

.showAll:hover {
  color: var(--dark-green);
}

@media only screen and (max-width: breakpoints.$large) {
  .listTitle {
    display: none;
  }

  .articleList {
    max-height: 364px;
  }

  .article {
    height: 116px;
  }
}
