.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleInput {
  height: 70px;
  padding: 20px;
  line-height: 17px;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
}

.cancelBtn,
.saveDraftBtn,
.publishBtn {
  width: 100%;
  max-width: 160px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent {
  background: var(--light-gray);
}
