.achievementWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.achievementBadge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 50%;
}

.achievementBadge.notStarted {
  filter: grayscale(100%);
}

.achievementBadge.inProgress {
  --progress-color: #ffc700;
}

.achievementBadge.done {
  --progress-color: #4fa457;
}

.achievementBadge.earlyStage {
  --progress-color: var(--medium-brightness-gray);
}

.achievementImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progressWrapper {
  transform: rotate(-90deg);
}

.progress,
.progressTrack {
  fill: transparent;
  stroke-width: 3px;
}

.progressTrack {
  stroke: var(--progress-color);
  opacity: 0.5;
}

.progress {
  stroke: var(--progress-color);
}

.name {
  color: var(--white);
  font-size: inherit;
}
