.form {
  width: 100%;
  margin-bottom: 18px;
}

.buttonsBlock {
  display: flex;
  gap: 20px;
}

.button {
  width: 100%;
  height: 45px;
  color: var(--dark-green);
  font-family: Lato, sans-serif;
  background-color: var(--light-gray);
  border: 2px solid var(--dark-green);
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in,
    border-color 0.3s ease-in;
}

.button:hover {
  color: var(--light-green);
  background-color: transparent;
  border-color: var(--light-green);
}

.buttonSave {
  color: var(--white);
  background: var(--dark-green);
}

.buttonSave:hover {
  color: var(--white);
  background: var(--light-green);
  border-color: var(--light-green);
}

.button:disabled {
  color: var(--white);
  background-color: var(--pastel-gray);
  border-color: transparent;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
  border: none;
}
