.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 327px;
}

.messageWrapper {
  position: absolute;
  bottom: 40px;
}

.form {
  width: 100%;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 18px;
  padding: 0;
  border: none;
}

.message {
  margin-right: 5px;
  color: var(--dark-blue-70);
  font-size: 16px;
  font-family: Lato, sans-serif;
  opacity: 0.7;
}

.link {
  color: var(--light-green);
  font-size: 16px;
  font-family: Lato, sans-serif;
}

.forgot-password-link {
  color: var(--light-green);
  font-size: 12px;
  font-family: Lato, sans-serif;
}
