.formWrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.messageWrapper {
  flex-shrink: 0;
  padding: 40px 0;
}

.form {
  width: 100%;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 18px;
  padding: 0;
  border: none;
}

.message {
  margin-right: 5px;
  color: var(--dark-blue-70);
  font-size: 16px;
  font-family: Lato, sans-serif;
  opacity: 0.7;
}

.link {
  color: var(--light-green);
  font-size: 16px;
  font-family: Lato, sans-serif;
}

.forgotPasswordLink {
  color: var(--light-green);
  font-size: 12px;
  font-family: Lato, sans-serif;
}

.authFormTitle {
  align-self: flex-start;
  margin: 0 0 44px;
  padding-top: 40px;
  color: var(--light-green);
  font-size: 24px;
  font-family: "Libre Baskerville", sans-serif;
}

.or {
  align-self: center;
  margin-top: 20px;
  color: #b6b6b6;
  font-weight: 500;
  font-size: 18px;
  font-family: Montserat, sans-serif;
}
