.reaction {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reactionIcon {
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.reactionCount {
  color: var(--dark-gray-50);
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
}
