.wrapper {
  display: flex;
  grid-area: genres;
  flex-direction: column;
  padding: 30px;
  background-color: var(--white);
}

.chartWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
}
