.parallaxContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.parallaxImg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signLink {
  max-width: 690px;
  color: var(--light-grey);
  font-weight: 700;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 3.84px;
  text-align: center;
  text-transform: uppercase;
}

.lettersImg {
  z-index: -5;
}

.typewriterImg {
  z-index: -10;
  width: 110vw;
}
