@use "src/assets/css/breakpoints.scss";

.parallaxContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.parallaxImg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signLink {
  z-index: var(--z-index-level-one);
  max-width: 690px;
  color: var(--light-gray);
  font-weight: 700;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 3.84px;
  text-align: center;
  text-transform: uppercase;
}

.typewriterImg {
  width: 110vw;
  height: 110vh;
  object-fit: cover;
  object-position: bottom center;
}

.bgLetters {
  max-width: 100%;
}

@media only screen and (max-width: breakpoints.$medium) {
  .bgLetters {
    min-height: 270px;
    object-fit: cover;
  }
}
