.authSignInButton {
  width: 100%;
  height: 45px;
  color: var(--dark-green);
  background: transparent;
  border: 2px solid var(--dark-green);
  border-radius: 7px;
}

.authSignInButton:disabled {
  background-color: var(--pale-grey);
}
