@use "src/assets/css/breakpoints.scss";

.activityContainer {
  display: flex;
  grid-area: activity;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 40px;
  overflow-x: auto;
  background-color: var(--white);
}

.title {
  margin-bottom: 6px;
}

.activityWrapper {
  display: grid;
  grid-template-columns: auto min(694px);
  grid-auto-flow: column;
}

.days .monday {
  grid-area: mon;
}

.days .wednesday {
  grid-area: wed;
}

.days .friday {
  grid-area: fri;
}

.days .sunday {
  grid-area: sun;
}

.innerWrapper {
  width: 100%;
}

.months {
  display: grid;
  grid-template: auto / repeat(5, 1fr) repeat(2, 0.8fr);
  padding-bottom: 6px;
}

.months > span {
  justify-self: center;
}

.days {
  display: grid;
  grid-template: 27px repeat(7, 25px) / auto;
  grid-template-areas: "." "mon" "." "wed" "." "fri" "." "sun";
  padding-right: 6px;
}

.activity {
  display: grid;
  grid-template: repeat(7, 20px) / repeat(auto-fit, 20px);
  grid-auto-flow: column;
  gap: 5px;
}

.activityItem {
  background: rgba($color: #000000, $alpha: 10%);
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  cursor: pointer;
}

.activityItem.tuesday {
  grid-area: 1 / 1 / 3 / 1;
}

.activityItem.wednesday {
  grid-area: 1 / 1 / 4 / 1;
}

.activityItem.thursday {
  grid-area: 1 / 1 / 5 / 1;
}

.activityItem.friday {
  grid-area: 1 / 1 / 6 / 1;
}

.activityItem.saturday {
  grid-area: 1 / 1 / 7 / 1;
}

.activityItem.sunday {
  grid-area: 1 / 1 / 8 / 1;
}

.activityItem.tuesday,
.activityItem.wednesday,
.activityItem.thursday,
.activityItem.friday,
.activityItem.saturday,
.activityItem.sunday {
  align-self: flex-end;
}

.breakpoints {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 6px;
}

.breakpoint {
  width: 11px;
  height: 11px;
}

.firstBreakpoint {
  background: rgba($color: #000000, $alpha: 10%);
}

.secondBreakpoint {
  background: #9be9a8;
}

.thirdBreakpoint {
  background: #40c463;
}

.fourthBreakpoint {
  background: #30a14e;
}

@media only screen and (max-width: breakpoints.$extra-large) {
  .wrapper {
    align-items: flex-start;
  }
}

@media only screen and (max-width: breakpoints.$large) {
  .title {
    display: none;
  }
}
