.wrapper {
  display: block;
  grid-area: activity;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.title {
  margin-bottom: 10px;
}

.activityWrapper {
  display: flex;
  max-width: 710px;
  overflow-x: auto;
}

.days .monday {
  grid-area: mon;
}

.days .wednesday {
  grid-area: wed;
}

.days .friday {
  grid-area: fri;
}

.days .sunday {
  grid-area: sun;
}

.months {
  display: grid;
  grid-template: auto / repeat(5, 1fr) repeat(2, 0.8fr);
  padding-bottom: 6px;
}

.months > span {
  justify-self: center;
}

.days {
  display: grid;
  grid-template: 27px repeat(7, 25px) / auto;
  grid-template-areas: "." "mon" "." "wed" "." "fri" "." "sun";
  padding-right: 6px;
}

.activity {
  display: grid;
  grid-template: repeat(7, 20px) / repeat(auto-fit, 20px);
  grid-auto-flow: column;
  gap: 5px;
}

.activityItem {
  background: rgba($color: #000000, $alpha: 10%);
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  cursor: pointer;
}

.breakpoints {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 6px;
}

.breakpoint {
  width: 11px;
  height: 11px;
}

.firstBreakpoint {
  background: rgba($color: #000000, $alpha: 10%);
}

.secondBreakpoint {
  background: #9be9a8;
}

.thirdBreakpoint {
  background: #40c463;
}

.fourthBreakpoint {
  background: #30a14e;
}
