.facebookLoginButton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  padding: 11px 0;
  color: var(--dark-green);
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 19px;
  text-align: center;
  background-color: transparent;
  border: 2px var(--dark-green) solid;
  border-radius: 7px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.facebookLoginButton:hover {
  color: var(--light-green);
  background-color: transparent;
  border-color: var(--light-green);
}
