@use "src/assets/css/breakpoints.scss";

.article {
  width: 100%;
  padding: 20px;
  background: var(--white);
  border: 2px solid var(--pale-gray);
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.publisherName {
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
}

.publicationTime,
.readTime {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: var(--dark-gray-40);
  font-weight: 400;
  font-size: 14px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
}

.publicationTime::before,
.readTime::before {
  content: "";
  position: absolute;
  left: -20px;
  border: 5px solid var(--light-green);
  border-radius: 50%;
}

.body {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-areas: "content cover" "tags tags";
  gap: 20px;
  margin-bottom: 15px;
}

.body .articleInfo {
  display: flex;
  grid-area: content;
  flex-direction: column;
}

.body .title {
  margin: 0;
  overflow: hidden;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  line-height: normal;
  text-overflow: ellipsis;
}

.text ul {
  padding-left: 40px;
}

.body .text {
  --max-lines: 4;
  --height: 80px;

  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
  height: var(--height);
  margin: 14px 0 23px;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 14px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: calc(var(--height) / var(--max-lines));
  word-break: break-word;
  overflow-wrap: break-word;
}

.coverWrapper {
  grid-area: cover;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}

.body .articleTags {
  grid-area: tags;
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.body:not(.hasCover) {
  grid-template-areas: "content content" "tags tags";
}

.body:not(.hasCover) .articleInfo {
  flex: 1;
  min-width: 0;
}

.body:not(.hasCover) .text {
  max-width: 100%;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block-start: 10px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 2px solid var(--pale-gray);
}

.footer .reactions {
  display: flex;
  align-items: center;
  gap: 22px;
}

.reactions > li {
  list-style: none;
}

.footerIcon {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--dark-gray-50);
  font-weight: 400;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  background-color: var(--white);
}

.footerIcon svg {
  color: black;
}

.disabled {
  cursor: default;
}

.disabled svg {
  color: var(--light-green);
}

.pressed svg {
  color: var(--light-green);
}

.readMore {
  margin-left: auto;
  color: var(--light-green);
  font-weight: 700;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  transition: color 0.3s ease;
}

.readMore:hover {
  color: var(--dark-green);
}

.iconWrapper {
  display: flex;
  gap: 5px;
  color: var(--light-green);
  font-size: 12px;
  font-family: Lato, sans-serif;
  line-height: normal;
  background-color: transparent;
  transition: color 0.3s ease;
}

.disabled:hover svg {
  color: var(--light-green);
}

.footerIcon:hover svg {
  color: var(--light-green);
}

.iconWrapper:hover {
  color: var(--dark-green);
}

.moreActions {
  z-index: 0;
  width: 200px;
  padding: 0;
  background-color: var(--white);
  border-radius: 7px;
  box-shadow: 0 0 6px -2px var(--shadow-color);
  opacity: 1;
}

.topActionsIcon {
  width: 35px;
  height: 35px;
  margin: -5px -5px 0 0;
  padding: 5px;
  color: var(--light-green);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.topActionsIcon:hover {
  color: var(--dark-green);
}

.toolbar {
  display: flex;
  gap: 5px;
}

@media only screen and (max-width: breakpoints.$medium) {
  .article {
    padding: 10px;
  }

  .header .info {
    display: grid;
    grid-template-areas:
      "avatar name name"
      "avatar date readtime";
    align-items: center;
    gap: 10px;
  }

  .publisherAvatar {
    grid-area: avatar;
  }

  .publisherName {
    grid-area: name;
  }

  .publicationTime {
    grid-area: date;
  }

  .readTime {
    grid-area: readtime;
  }

  .body {
    grid-template-columns: 1fr 100px;
  }

  .body .text {
    --max-lines: 3;
    --height: 60px;
  }

  .coverWrapper {
    width: 100px;
    height: 100px;
  }

  .footer {
    gap: 10px;
  }

  .footer .reactions {
    gap: 10px;
  }
}

@media only screen and (max-width: breakpoints.$extra-small) {
  .toolbar {
    flex-direction: column;
  }
}
