.article {
  width: 100%;
  max-width: 830px;
  padding: 31px 24px 0 31px;
  background: var(--white);
  border: 2px solid var(--pale-gray);
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .publisherName {
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
}

.header .publicationTime {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: var(--dark-gray-40);
  font-weight: 400;
  font-size: 14px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
}

.header .publicationTime::before {
  content: "";
  position: absolute;
  left: -20px;
  border: 5px solid var(--light-green);
  border-radius: 50%;
}

.body {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  margin-bottom: 23px;
  padding-right: 19px;
}

.body .articleInfo {
  display: flex;
  flex-direction: column;
}

.body .title {
  margin: 0;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  line-height: normal;
}

.text ul {
  padding-left: 40px;
}

.body .text {
  --max-lines: 3;
  --height: 51px;

  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
  max-width: 585px;
  height: var(--height);
  margin: 14px 0 23px;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 14px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: calc(var(--height) / var(--max-lines));
  overflow-wrap: break-word;
}

.body .preview {
  width: 134px;
  height: 134px;
  border-radius: 5px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 33px 20px 4px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  left: -31px;
  border-top: 2px solid var(--pale-gray);
}

.footer .reactions {
  display: flex;
  align-items: center;
  gap: 22px;
}

.footer .reaction {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer .reactionIcon {
  cursor: pointer;
}

.footer .reactionCount {
  color: var(--dark-gray-50);
  font-weight: 400;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
}

.footer .readMore {
  margin-left: auto;
  color: var(--light-green);
  font-weight: 700;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
}

.icon {
  cursor: pointer;
}

.iconWrapper {
  background-color: transparent;
  border: none;
}
