.achievementList {
  display: grid;
  grid-template-columns: repeat(var(--achievement-columns), 1fr);
  justify-content: center;
  list-style: none;
}

.achievementListItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
