@use "src/assets/css/breakpoints.scss";

.userInfoBlock {
  grid-area: info;
  width: 100%;
  min-height: 262px;
  padding: 45px 37px 55px;
  background-color: var(--light-gray);
}

.userInfoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 19px;
}

.avatar {
  width: 50%;
  max-width: 162px;
  aspect-ratio: 1 / 1;
  height: auto;
  font-size: 40px;
}

.editButton {
  min-width: max-content;
}

.userInfo {
  margin-bottom: 19px;
  color: var(--black-90);
  line-height: normal;
  word-break: break-word;
}

.userName {
  margin-bottom: 3px;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
}

.userEmail {
  font-size: 14px;
}

.modalEditForm {
  max-width: 400px;
}

@media only screen and (max-width: breakpoints.$extra-large) {
  .userInfoWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: breakpoints.$small) {
  .userInfoWrapper {
    gap: 10px;
  }

  .userName {
    font-size: 14px;
  }
}
