.userInfoBlock {
  display: flex;
  grid-area: info;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 270px;
  min-height: 356px;
  padding: 30px;
  text-align: center;
}

.avatar {
  width: 80%;
  aspect-ratio: 1 / 1;
  height: auto;
}

.userInfo {
  font-size: 18px;
}

.editProfileBtn {
  width: 100%;
  padding: 13px 20px;
  color: var(--white);
  background-color: var(--dark-green);
  border: none;
}
