.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrapper {
  position: sticky;
  top: 115px;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: flex-start;
  min-width: 389px;
  max-width: 500px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.form {
  padding: 27px 35px 20px;
  border: 1px solid var(--light-gray-border);
  border-radius: 10px;
}

.filterTitle {
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 16px;
}

.clearFilters {
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 14px;
  background-color: var(--input-bg);
  border: none;
  cursor: pointer;
}

.clearFilters:hover {
  color: var(--light-green);
  background-color: transparent;
}

.filterInput {
  height: 45px;
}

.filterInput:hover {
  border: 2px solid var(--light-green);
  cursor: pointer;
}
