@use "src/assets/css/breakpoints.scss";

.wrapper {
  position: sticky;
  top: calc(var(--header-height) + 15px);
  width: 100%;
  max-width: 400px;
  max-height: 640px;
  padding-block-start: 15px;
  background: var(--light-gray);
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block-end: 10px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 40px;
  border: 1px solid var(--light-gray-border);
  border-radius: 10px;
}

.inputWrapper {
  position: relative;
}

.filterInput {
  height: 45px;
  padding: 14px 37px 14px 19px;
  background: var(--input-bg);
  border-radius: 5px;
}

.filterInput:focus {
  background: var(--white);
}

.filterInput:hover {
  border: 2px solid var(--light-green);
  cursor: pointer;
}

.searchIcon {
  position: absolute;
  right: 15px;
  bottom: 25px;
  cursor: pointer;
  transform: translateY(-100%);
}

.filterTitle {
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
}

@media only screen and (min-width: breakpoints.$large) and (max-width: breakpoints.$extra-large) {
  .filterGroup {
    padding: 15px 20px;
  }
}

@media only screen and (max-width: breakpoints.$large) {
  .title {
    position: static;
    margin-block: 10px;
  }
}

@media only screen and (max-width: breakpoints.$small) {
  .filterGroup {
    padding: 15px 20px;
  }
}
