:root {
  --white: #ffffff;
  --dark-green: #2e453b;
  --dark-green-80: rgb(46 69 59 / 80%);
  --light-green: #44996b;
  --light-grey: #ebece7;
  --green: #12b76a;
  --pale-gray: #f8f8f8;
  --dark-gray: #353535;
  --dark-gray-40: rgba(53 53 53 / 40%);
  --dark-gray-50: rgba(53 53 53 / 50%);
  --medium-brightness-gray: #919191;
  --light-grey-text: #b6b6b6;
  --light-grey-border: #dbdbdb;
}
