:root {
  --white: #ffffff;
  --white-50: rgb(255 255 255 / 50%);
  --white-90: rgba(255 255 255 / 90%);
  --dark-green: #2e453b;
  --dark-green-80: rgb(46 69 59 / 80%);
  --dark-blue: #14253f;
  --dark-blue-40: rgb(20 37 63 / 40%);
  --light-green: #44996b;
  --light-green-300: #58a77c;
  --light-green-200: #a1e0a6;
  --light-green-100: #b4efb1;
  --light-green-85: rgb(68 153 108 / 85%);
  --light-green-80: rgb(68 153 107 / 80%);
  --light-gray: #ebece7;
  --dark-gray: #353535;
  --black: #000000;
  --black-20: rgb(29 29 29 / 20%);
  --dark-blue-70: rgb(20 37 63 / 70%);
  --green: #12b76a;
  --gray: #e0e0e0;
  --pale-gray: #f8f8f8;
  --dark-gray-40: rgba(53 53 53 / 40%);
  --dark-gray-50: rgba(53 53 53 / 50%);
  --dark-gray-80: rgba(53 53 53 / 80%);
  --light-gray-15: rgba(151 151 151 / 15%);
  --light-gray-40: rgb(174 174 174 / 40%);
  --medium-brightness-gray: #919191;
  --light-gray-text: #b6b6b6;
  --light-gray-border: var(--pastel-gray);
  --light-gray-dashed-border: #c6c8cd;
  --red: #df1c3d;
  --light-red: #d88184;
  --shadow-color: rgba(53 53 53 / 20%);
  --picasso: #ffec99;
  --madang: #b2f2bb;
  --overlay-alpha-50: rgb(0 0 0 / 50%);
  --pastel-gray: #dbdbdb;
  --button-delete-bg: #b83733;
  --button-delete-hover: #d9534f;
  --header-height: 105px;

  /* z-index */
  --z-index-level-one: 100;
  --z-index-tooltip: 1000;
  --achievement-columns: 3;
}

input,
textarea {
  --input-bg: var(--pale-gray);
  --input-shadow-color: var(--shadow-color);
  --input-text: rgb(40 40 40 / 50%);
  --input-placeholder-color: rgb(157 164 174 / 40%);
}
