:root {
  --white: #ffffff;
  --dark-green: #2e453b;
  --dark-green-80: rgb(46 69 59 / 80%);
  --dark-blue: #14253f;
  --light-green: #44996b;
  --light-grey: #ebece7;
  --black: #000000;
  --dark-blue-70: rgb(20 37 63 / 70%);
  --green: #12b76a;
  --red: #df1c3d;
}

input {
  --input-bg: #f8f8f8;
  --input-text: #9da4ae;
}
